* {
  margin: 0;
  padding: 0;
}
header {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vw;
  background: rgb(50,195,255);
  background: radial-gradient(circle, rgba(50,195,255,1) 0%, rgba(0,0,0,1) 73%);
  border-bottom: 2px solid rgb(0, 0, 0);
  z-index: 998;
}
.links_container {
  display: flex;
  justify-content: space-between;
}
.link {
  color: rgb(255, 255, 255);
  font-size: 1.83vw;
  font-family: 'Comfortaa';
  text-decoration: none;
  padding: 0 7.32vw;
}
.link:hover {
  color: rgb(0, 0, 0);
  transition: 0.3s all;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: rgb(50,195,255);
  background: radial-gradient(circle, rgba(50,195,255,1) 0%, rgba(0,0,0,1) 73%);
}
.title {
  font-weight: bold;
  font-size: 3vw;
  font-family: 'Comfortaa';
  margin-top: 3vw;
  color: #ffffff;
}
.info {
  font-size: 1.5vw;
  font-family: 'Comfortaa';
  width: 80%;
  line-height: 150%;
  margin-top: 3vw;
  color: #ffffff;
}
.abonements_conatiner {
  display: flex;
  justify-content: space-between;
}
.abonements_block {
  line-height: 150%;
  width: 25vw;
  padding: 2vw;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 3vw;
  box-shadow: 1px 1px 20px 1px teal;
  border-radius: 7px;
}
.title_block {
  font-size: 2vw;
  font-family: 'Comfortaa';
  margin-bottom: 2vw;
  line-height: 200%;
}
.info_block {
  font-size: 1vw;
  font-family: 'Comfortaa';
  color: teal;
}
.blocks_container {
  display: flex;
  justify-content: center;
}
.block {
  position: relative;
  border: 2px solid rgb(0, 0, 0);
  width: 23vw;
  height: 30vw;
  margin: 2.93vw;
  box-shadow: 1px 1px 20px 1px black;
  border-radius: 7px;
  padding-top: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  flex-direction: column;
}
.title_rates {
  font-weight: bold;
  font-size: 1.5vw;
  font-family: 'Comfortaa';
  text-align: center;
  margin-bottom: 1vw;
  color: #ffffff;
}
.img1 {
  background-image: url('https://cdn-icons-png.flaticon.com/512/747/747725.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4vw;
  margin-right: 4vw;
  width: 23vw;
  height: 15vw;
}
.img2 {
  background-image: url('https://cdn-icons-png.flaticon.com/512/595/595513.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4vw;
  margin-right: 4vw;
  width: 23vw;
  height: 15vw;
}
.img3 {
  background-image: url('https://cdn-icons-png.flaticon.com/512/3601/3601002.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4vw;
  margin-right: 4vw;
  width: 23vw;
  height: 15vw;
}
.img4 {
  background-image: url('https://static.vecteezy.com/system/resources/previews/009/266/327/original/plus-sign-icon-free-png.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4vw;
  margin-right: 4vw;
  width: 23vw;
  height: 15vw;
}
.img5 {
  background-image: url('https://cdn-icons-png.flaticon.com/512/390/390910.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4vw;
  margin-right: 4vw;
  width: 23vw;
  height: 15vw;
}
.img6 {
  background-image: url('https://cdn-icons-png.flaticon.com/512/189/189639.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4vw;
  margin-right: 4vw;
  width: 23vw;
  height: 15vw;
}
.img7 {
  background-image: url('https://cdn-icons-png.flaticon.com/512/2309/2309943.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4vw;
  margin-right: 4vw;
  width: 23vw;
  height: 15vw;
}
.img8 {
  background-image: url('https://cdn-icons-png.flaticon.com/512/6057/6057088.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4vw;
  margin-right: 4vw;
  width: 23vw;
  height: 15vw;
}
.img9 {
  background-image: url('https://cdn-icons-png.flaticon.com/512/2721/2721122.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4vw;
  margin-right: 4vw;
  width: 23vw;
  height: 15vw;
}
.info_rates {
  font-size: 1.2vw;
  font-family: 'Comfortaa';
  text-align: center;
  margin-top: 1vw;
  color: #ffffff;
}
.infoT {
  display: flex;
  justify-content: center;
  font-size: 1.5vw;
  font-family: 'Comfortaa';
  width: 80%;
  line-height: 150%;
  margin-top: 3vw;
  color: #ffffff;
  white-space: nowrap;
}
.rules_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1vw;
  margin-bottom: 3vw;
  align-items: center;
}
.column1 {
  grid-column: 1 / 2;
  font-size: 1vw;
  line-height: 150%;
  font-family: 'Comfortaa';
  margin: 1vw;
  background: black;
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 20px 1px teal;
  border-radius: 7px;
  padding: 0.7vw;
}
.column2 {
  grid-column: 2 / 3;
  font-size: 1vw;
  line-height: 150%;
  font-family: 'Comfortaa';
  margin: 1vw;
  background: black;
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 20px 1px teal;
  border-radius: 7px;
  padding: 0.7vw; 
}
.btn_up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-family: 'Comfortaa';
  font-size: 1.3vw;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 900;
  width: 5vw;
  height: 100%;
  transition: all 0.3s ease-in-out;
  background: rgb(50,195,255);
  background: radial-gradient(circle, rgba(50,195,255,1) 0%, rgba(0,0,0,1) 73%);
  box-shadow: 1px 1px 15px 1px teal;
  z-index: 999;
}
.btn_up:hover {
  color: rgb(255, 255, 255);
  z-index: 999;
}
.hidden {
  display: none;
}
.date {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  font-size: 0.8vw;
  font-family: 'Comfortaa';
  margin-top: auto;
  margin-bottom: 0.7vw;
  color: #ffffff;
}
.btn_buy {
  position: absolute;
  bottom: 1.8vw;
  left: 7.3vw;
  right: 7vw;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  font-size: 1vw;
  font-family: 'Comfortaa';
  margin-top: auto;
  margin-bottom: 1.2vw;
  background: rgb(0, 0, 0);
  border: none;
  width: 10vw;
  color: teal;
  height: 2vw;
  border-radius: 4px;
  justify-content: center;
  box-shadow: 1px 1px 15px 1px teal;
}
.btn_buy:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.05);
  transition: 0.2s all;
}

.buy-form {
  position: fixed;
  top: 11.2%;
  left: 34.8%;
  width: 100%;
  height: 100%;
  background: rgb(50,195,255);
  background: radial-gradient(circle, rgba(50,195,255,1) 0%, rgba(0,0,0,1) 73%);  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 35vw;
  border-radius: 7px;
  font-family: 'Comfortaa';
  box-shadow: 1px 20px 40px 1px rgb(0, 0, 0);
  color: #ffffff;
}
.buy-form form {
  width: 60%;
  max-width: 500px;
  padding: 20px;
  border-radius: 5px;
}
.buy-form label {
  display: block;
  margin-bottom: 5px;
}
.form_title {
  font-family: 'Comfortaa';
  font-weight: 900;
  margin-bottom: 1vw;
  color: #ffffff;
}
.title_form {
  text-decoration: underline;
  font-weight: 900;
}
.buy-form input[type="number"] {
  color: #ffffff;
  width: 27vw;
  height: 2vw;
  border-radius: 3px;
  background: none;
  outline: none;
  font-size: 1.2vw;
  padding-left: 10px;
  border: 1px solid teal;
}
.buy-form button[type="radio"],
.buy-form textarea {
  color: #ffffff;
  outline: none;
  width: 27vw;
  padding: 10px;
  border: 1px solid teal;
  border-radius: 5px;
  margin-bottom: 10px;
  background: none;
  resize: none;
  font-family: 'Comfortaa';
}
.btns_form_container {
  display: flex;
  margin-top: -0.6vw;
}
.buy-form button[type="submit"],
.buy-form button[type="button"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: teal;
  cursor: pointer;
  margin-right: 10px;
  font-family: 'Comfortaa';
}
.buy-form button[type="submit"]:hover,
.buy-form button[type="button"]:hover {
  background-color: #000000;
  transition: 0.3s all;
  color: teal;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(50,195,255);
  background: radial-gradient(circle, rgba(50,195,255,1) 0%, rgba(0,0,0,1) 73%);  
  border-top: 2px solid rgb(0, 0, 0);
  bottom: auto;
  font-family: 'Comfortaa';
}
.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}
.category-list li {
  grid-column: span 1;
}
.category-list a {
  display: block;
  padding: 5px;
  text-decoration: none;
  background-color: none;
  text-align: center;
  color: #ffffff;
}
.category-list a:hover {
  color: rgb(0, 0, 0);
  transition: 0.3s all;
}

.theme-btn {
  cursor: pointer;
  height: 2vw;
  width: 9vw;
  background: none;
  border: none;
  font-family: 'Comfortaa';
  text-decoration: underline;
  margin-right: -11vw;
  color: #ffffff;
}
.theme-btn:hover {
  color: teal;
  transition: 0.3s all;
}

@media screen and (max-width: 550px) {
  header {
    position: sticky;
    display: grid;
    grid-template: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vw;
    background: rgb(50,195,255);
    background: radial-gradient(circle, rgba(50,195,255,1) 0%, rgba(0,0,0,1) 73%);
    border-bottom: 2px solid rgb(0, 0, 0);
    z-index: 998;
  }
  .link {
    margin-top: 1vw;
    color: #ffffff;
    font-size: 3.83vw;
    font-family: 'Comfortaa';
    text-decoration: none;
    padding: 0 7.32vw;
  }
  .theme-btn {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    cursor: pointer;
    height: 6vw;
    width: 9vw;
    background: rgb(0, 0, 0);
    font-family: 'Comfortaa';
    text-decoration: none;
    margin-top: 5vw;
    margin-right: 5vw;
    font-size: 1.5vw;
    color: #ffffff;
  }
  .title {
    font-weight: bold;
    font-size: 5vw;
    font-family: 'Comfortaa';
    margin-top: 4vw;
  }
  .info {
    font-size: 2.5vw;
    font-family: 'Comfortaa';
    width: 80%;
    line-height: 150%;
    margin-top: 4vw;
  }
  .abonements_block {
    width: 35vw;
    padding: 2vw;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 3vw;
    box-shadow: 1px 1px 20px 1px teal;
    border-radius: 7px;
  }
  .title_block {
    font-size: 3vw;
    font-family: 'Comfortaa';
    margin-bottom: 2vw;
    line-height: 120%;
  }
  .info_block {
    font-size: 2vw;
    font-family: 'Comfortaa';
    color: teal;
    line-height: 150%;
  }
  .block {
    position: relative;
    border: 0.5vw solid rgb(0, 0, 0);
    width: 23vw;
    height: 30vw;
    margin: 2.93vw;
    box-shadow: 1px 1px 20px 1px black;
    border-radius: 7px;
    padding-top: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: column;
  }
  .infoT {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    font-family: 'Comfortaa';
    width: 80%;
    line-height: 150%;
    margin-top: 3vw;
  }
  footer {
    font-size: 1.5vw;
    font-weight: bold;
  }
  .category-list a {
    display: block;
    padding: 1vw;
    text-decoration: none;
    background-color: none;
    text-align: center;
    color: #333;
  }
  .buy-form {
    position: fixed;
    top: 11.2%;
    left: 10%;
    width: 80vw;
    height: 110vw;
    background: rgb(50,195,255);
    background: radial-gradient(circle, rgba(50,195,255,1) 0%, rgba(0,0,0,1) 73%);  
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    font-family: 'Comfortaa';
    box-shadow: 1px 20px 40px 1px rgb(0, 0, 0);
  }
  .form_title {
    font-family: 'Comfortaa';
    font-weight: 900;
    margin-bottom: 0vw;
    font-size: 6vw;
  }
  .title_form {
    text-decoration: underline;
    font-weight: 900;
    font-size: 4vw;
  }
  .buy-form input[type="number"] {
    width: 67vw;
    height: 5vw;
    border-radius: 3px;
    background: none;
    outline: none;
    font-size: 3.2vw;
    padding-left: 0.73vw;
    border: 1px solid teal;
  }
  .buy-form textarea {
    outline: none;
    width: 67vw;
    padding: 0.73vw;
    border: 1px solid teal;
    border-radius: 5px;
    margin-bottom: 0.73vw;
    background: none;
    resize: none;
    font-family: 'Comfortaa';
  }
}