* {
  margin: 0;
  padding: 0;
}
header {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vw;
  background: rgb(50,195,255);
  background: radial-gradient(circle, rgba(50,195,255,1) 0%, rgba(0,0,0,1) 73%);
  border-bottom: 2px solid rgb(0, 0, 0);
  z-index: 998;
}
.links_container {
  display: flex;
  justify-content: space-between;
}
.link {
  color: rgb(0, 0, 0);
  font-size: 1.83vw;
  font-family: 'Comfortaa';
  text-decoration: none;
  padding: 0 7.32vw;
}
.link:hover {
  color: rgb(255, 255, 255);
  transition: 0.3s all;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: rgb(50,195,255);
  background: radial-gradient(circle, rgba(50,195,255,1) 0%, rgba(0,0,0,1) 73%);
}
.title {
  font-weight: bold;
  font-size: 3vw;
  font-family: 'Comfortaa';
  margin-top: 3vw;
  color: #ffffff;
}
.info {
  font-size: 1.5vw;
  font-family: 'Comfortaa';
  width: 80%;
  line-height: 150%;
  margin-top: 3vw;
  color: #ffffff;
}
.abonements_conatiner {
  display: flex;
  justify-content: space-between;
}
.abonements_block {
  line-height: 150%;
  width: 25vw;
  padding: 2vw;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 3vw;
  box-shadow: 1px 1px 20px 1px teal;
  border-radius: 7px;
}
.title_block {
  font-size: 2vw;
  font-family: 'Comfortaa';
  margin-bottom: 2vw;
}
.info_block {
  font-size: 1vw;
  font-family: 'Comfortaa';
  color: teal;
}
.blocks_container {
  display: flex;
  justify-content: center;
}
.block {
  position: relative;
  border: 2px solid rgb(0, 0, 0);
  width: 23vw;
  height: 30vw;
  margin: 2.93vw;
  box-shadow: 1px 1px 20px 1px black;
  border-radius: 7px;
  padding-top: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  flex-direction: column;
}
.title_rates {
  font-weight: bold;
  font-size: 1.5vw;
  font-family: 'Comfortaa';
  text-align: center;
  margin-bottom: 1vw;
  color: #ffffff;
}
.img1 {
  background-image: url('https://cdn-icons-png.flaticon.com/512/747/747725.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4vw;
  margin-right: 4vw;
  width: 23vw;
  height: 15vw;
}
.img2 {
  background-image: url('https://cdn-icons-png.flaticon.com/512/595/595513.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4vw;
  margin-right: 4vw;
  width: 23vw;
  height: 15vw;
}
.img3 {
  background-image: url('https://cdn-icons-png.flaticon.com/512/3601/3601002.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4vw;
  margin-right: 4vw;
  width: 23vw;
  height: 15vw;
}
.info_rates {
  font-size: 1.2vw;
  font-family: 'Comfortaa';
  text-align: center;
  margin-top: 1vw;
  color: #ffffff;
}
.infoT {
  display: flex;
  justify-content: center;
  font-size: 1.5vw;
  font-family: 'Comfortaa';
  width: 80%;
  line-height: 150%;
  margin-top: 3vw;
}
.rules_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1vw;
  margin-bottom: 3vw;
  align-items: center;
}
.column1 {
  grid-column: 1 / 2;
  font-size: 1vw;
  line-height: 150%;
  font-family: 'Comfortaa';
  margin: 1vw;
  background: black;
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 20px 1px teal;
  border-radius: 7px;
  padding: 0.7vw;
}
.column2 {
  grid-column: 2 / 3;
  font-size: 1vw;
  line-height: 150%;
  font-family: 'Comfortaa';
  margin: 1vw;
  background: black;
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 20px 1px teal;
  border-radius: 7px;
  padding: 0.7vw; 
}
.btn_up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-family: 'Comfortaa';
  font-size: 1.3vw;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 900;
  width: 5vw;
  height: 100%;
  transition: all 0.3s ease-in-out;
  background: rgb(50,195,255);
  background: radial-gradient(circle, rgba(50,195,255,1) 0%, rgba(0,0,0,1) 73%);
  box-shadow: 1px 1px 15px 1px teal;
  z-index: 999;
}
.btn_up:hover {
  color: rgb(255, 255, 255);
  z-index: 999;
}
.hidden {
  display: none;
}
.date {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  font-size: 0.8vw;
  font-family: 'Comfortaa';
  margin-top: auto;
  margin-bottom: 0.7vw;
  color: #ffffff;
}
.btn_buy {
  position: absolute;
  bottom: 1.8vw;
  left: 7.3vw;
  right: 7vw;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  font-size: 1vw;
  font-family: 'Comfortaa';
  margin-top: auto;
  margin-bottom: 1.2vw;
  background: rgb(0, 0, 0);
  border: none;
  width: 10vw;
  color: teal;
  height: 2vw;
  border-radius: 4px;
  justify-content: center;
  box-shadow: 1px 1px 15px 1px teal;
}
.btn_buy:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.05);
  transition: 0.2s all;
}

.buy-form {
  position: fixed;
  top: 11.2%;
  left: 34.8%;
  width: 100%;
  height: 100%;
  background: rgb(50,195,255);
  background: radial-gradient(circle, rgba(50,195,255,1) 0%, rgba(0,0,0,1) 73%);  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 35vw;
  border-radius: 7px;
  font-family: 'Comfortaa';
  box-shadow: 1px 20px 40px 1px rgb(0, 0, 0);
  color: #ffffff;
}
.buy-form form {
  width: 60%;
  max-width: 500px;
  padding: 20px;
  border-radius: 5px;
}
.buy-form label {
  display: block;
  margin-bottom: 5px;
}
.title_form {
  text-decoration: underline;
  font-weight: 900;
}
.buy-form input[type="number"] {
  color: #ffffff;
  width: 27vw;
  height: 2vw;
  border-radius: 3px;
  background: none;
  outline: none;
  font-size: 1.2vw;
  padding-left: 10px;
  border: 1px solid teal;
}
.buy-form button[type="radio"],
.buy-form textarea {
  color: #ffffff;
  outline: none;
  width: 27vw;
  padding: 10px;
  border: 1px solid teal;
  border-radius: 5px;
  margin-bottom: 10px;
  background: none;
  resize: none;
  font-family: 'Comfortaa';
}
.btns_form_container {
  display: flex;
}
.buy-form button[type="submit"],
.buy-form button[type="button"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: teal;
  cursor: pointer;
  margin-right: 10px;
  font-family: 'Comfortaa';
}
.buy-form button[type="submit"]:hover,
.buy-form button[type="button"]:hover {
  background-color: #000000;
  transition: 0.3s all;
  color: teal;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vw;
  background: rgb(50,195,255);
  background: radial-gradient(circle, rgba(50,195,255,1) 0%, rgba(0,0,0,1) 73%);  
  border-top: 2px solid rgb(0, 0, 0);
  bottom: auto;
}

.theme-btn {
  cursor: pointer;
  height: 2vw;
  width: 9vw;
  background: none;
  border: none;
  font-family: 'Comfortaa';
  text-decoration: underline;
  margin-right: -11vw;
  color: #ffffff;
}
.theme-btn:hover {
  color: teal;
  transition: 0.3s all;
}